@font-face {
    font-family: 'Inter Regular';
    src: url('fonts/Inter-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inter Medium';
    src: url('fonts/Inter-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inter Semi-Bold';
    src: url('fonts/Inter-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inter Extra-Bold';
    src: url('fonts/Inter-ExtraBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


* {
    font-size: 20px;
}

.nav-icon,
.logo {
    height: 37px;
    width: 37px;
    border-radius: 50%;
    cursor: pointer;
}

.logo {
    height: 40px;
    width: 40px;
    background: black;
    margin-left: 15px;
    margin-top: 8px;
}

.nav-icon-cont {
    display: flex;
    flex-direction: row;
    margin-top: 8px;
    transform: translateX(0px);
    margin-left: 385px;
}

.nav-icon-cont div {
    margin-left: 5px;
}

.home-cont {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.home-cont-left {
    width: 58%;
    height: 100%;
    background: #00057B;
}

.home-cont-right {
    width: 42%;
    height: 100%;
    position: relative;
}

.text {
    margin-left: 30px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 100px;
}

.text-1 {
    font-size: 26px;
    margin-bottom: 26px;
    font-family: Inter Regular, sans-serif;
}

.text-2 {
    line-height: 62px;
    font-family: Inter Extra-Bold, sans-serif;
}

.text-2 div {
    font-size: 62px;
    font-weight: 700;
}

.text-3 {
    margin-top: 24px;
    font-family: Inter Semi-Bold, sans-serif;
}

.text-3 div {
    font-size: 31px;
}

.home-nav {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home-nav button {
    margin-bottom: 53px;
    height: 46px;
    width: 157px;
    border-radius: 30px;
    background: #00057B;
    border: none;
    color: white;
    cursor: pointer;
    transition: ease-in-out .3s;
    font-family: Inter Medium, sans-serif;
}

.home-nav button:hover {
    border: solid 2px #00057B;
    background: none;
    color: #00057B;
    width: 159px;
    height: 48px;
}

.line {
    height: 2px;
    width: 198px;
    background: #00057B;
}

.line-1 {
    position: absolute;
    top: 135px;
    left: 0;
}

.line-2 {
    position: absolute;
    top: 234px;
    left: 0;
}

.line-3 {
    position: absolute;
    top: 334px;
    left: 0;
}

.line-4 {
    position: absolute;
    top: 433px;
    left: 0;
}

.line-5 {
    position: absolute;
    top: 533px;
    left: 0;
}

.icon-1 {
    background: red;
}

.icon-1 svg {
    margin-top: 6px;
    margin-left: 6px;
}

.icon-2 {
    background: black;
}

.icon-2 svg {
    margin-top: 8px;
    margin-left: 8px;
}

.icon-3 {
    background: #ff424d;
}

.icon-3 svg {
    margin-top: 1px;
    margin-left: 1px;
}